/*After rereading chapters for last weeks test I am mad >:[ at how easily the left/right auto margin did what I was trying to do for a while. :) sometimes google queries just confuse*/
body {
	font-family: 'Raleway', sans-serif;
    font-family: 'Rajdhani', sans-serif;
	background-color: #da7b93;
	margin-left: auto;
	margin-right: auto;
	max-width: 1080px;
}

html{
	background-image: url("images/tile.gif");
    background-repeat: repeat;
}
/* trick I found to keep body and header flush with browser as margin and padding assignments would not resolve this annoying error */
*{
	margin: 0px;
	padding: 0px;
}

header {
	
	max-width: 1080px;
	width: 100%;
	height: 15%;
	background-color: #5D5E5D;
	border-bottom: 1px solid #353635;
	margin-top: 0;
	position: fixed;
	overflow: hidden;
	z-index: 1;
}



h1
{
	text-align: center;
	/*min-height: 120px; did not work so used max height query at end of css code*/
	color: white;
    padding-top: 5%;
	
}

nav{
	
	
	font-size: 21px;
	font-weight: 700;
	 position: absolute;
   bottom: 0px;
   text-align: center;
   width: 100%;
}

.navBar
{
 margin-right: 20px;

}

a:link 
{
  color: white;
  background-color: #da7b93;
  text-decoration: overline;
	   border-color: #da7b93;
	        border-style: outset;
	        border-width: 4px;
}

a:hover, a:visited
{
  color: #5D5E5D;
  background-color: #da7b93;
	 border-color: #da7b93;
	        border-style: inset;
	        border-width: 8px;
}



h2 
{
	text-align: center;
	color: magenta;
	padding-top: 100px;
	padding-bottom: 100px;
	font-size: 50px;
	/*I have had complaints about the magenta so tried to make the contrast more legible with the text-shadow*/
	text-shadow: 2px 0 10px white;
	
	
}

.topImage {
	    /*border attributes put before shorthand version allowed other browsers to inherit these atttributes, if put after shorthand it did not inherit i still used shorthand so that chrome would have opacity styling*/
	        border-color: #da7b93;
	        border-style: inset;
	        border-width: 8px;
	        border: 10px inset rgb(53,54,53, .2);  
	        min-width: 150px;
	        border-radius: 70%;
			width: 40%;
            max-width: 370px;    
	        margin-top: 20%;
}



.topContainer 

{
	
    padding-left: 15%;
	height: 500px;
	padding-bottom: 150px;
	padding-top: 100px;
    padding-right: 15%;
	
}



.rightP {float: right;
         text-align: center;
	     width: 40%;	
	     font-size: large;
	     font-weight: 600;
	     color: white;
	     text-shadow: 2px 0 5px black;
	     margin-top: 20%;
        }

.text_column {
	width: 90%;
	text-align: left;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #A3A3A3;
}
.gallery  {
	clear: both;
	display: inline-block;
	width: 100%;
	
	

	margin: 10px;
	
}


.thumbnail {
	width: 30%;
	text-align: center;
	float: left;
	margin-top: 35px;
	padding-bottom: 20px;
	margin-left: 1%;
	margin-right: 2%;
	border-radius: 3px;
	padding-top: 20px;
	
}

.thumbnail2 {
	width: 23%;
	text-align: center;
	float: left;
	margin-top: 35px;
	padding-bottom: 20px;
	margin-left: 1%;
	margin-right: 1%;
	border-radius: 3px;
	padding-top: 20px;
	
}
.thumbnail h4 {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #black;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}
thumbnail p {
	margin: 0;
	color: #B3B3B3;
	text-align: left;
	padding-left: 60px;
}



.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 200px;
	opacity: 0.8;
}



.thumbnail .tag {
	color: #5D5E5D;
	padding-bottom: 4px;
	padding-top: 4px;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}

.divP{
	  padding-top: 40px;
	  position: relative;
      text-align: center;
      color: white;
     }
img {
	  max-height: 500px;
 	
    }
.sfImg{
	  display: block;
    width: 100%; 
	
}

.sfImg2{
	display: none;
}

.centered {
    position: absolute;
    font-size: large;
    font-weight: 600;
    top: 70%;
    width: 9000px
    transform: translate(-50%, -50%);
    background-color: grey;
    left: 6px;
	overflow: hidden;
	max-height: 333px;
    margin-bottom: 10px;
}

.smallNav{
	display: none;
}

@media (max-width: 985px) {
	
.rightP {
          width: 100%;	
	 margin-top: 2%;
}

.topImage	 {
		   display: block;
	        max-width 200px;
                width: 70%;
	       margin-left: auto;
	       margin-right: auto;
	       
	}
	
	
	
}
/*very small resolution please use developer tools on browser to see effects just opening it will allow a smaller res*/
@media (max-width: 430px){
	
	
.centered{overflow: scroll}
.rightP{max-height: 300px;
	    overflow: scroll;
	    
	}
	
.thumbnail2 {
		float:left;
		width: 80%;
	    padding-left: 5%;
		}

	
.firsth2 {
		padding: 0;
	}
	
	
.secondH2 {
		   padding-bottom: 10px;
	       margin-top: 15px;
	      }
/*image swap*/
	.sfImg {
		    display: none;
		   }

	.sfImg2{
		display: block;
		max-width: 100%;
		}

}

#gallery1 {
	     
	      width 80%;
	     
                   
}

@media (max-height: 650px)
{
	
	header{
		height: 120px;
	
	}	 
}

/*swapped out navbar for small resolutions*/
@media (max-width: 375px)
{
	.navBar{
		display: none;
	}
	
	.smallNav{
		display: block;
	    font-size: 13px;
		margin-top: 15px;
		float: none;
	}

	
	h1{
		
		font-size: 20px;
		margin-bottom: 1px;
	}
}
