body {
	font-family: 'Raleway', sans-serif;
    font-family: 'Rajdhani', sans-serif;
	background-color: #da7b93;
	margin: 0;
	padding: 0;
	
     }



header {
	width: 100%;
	height: 8%;
	background-color: #5D5E5D;
	border-bottom: 1px solid #353635;
	
}

h1 
{
	text-align: center;
	text-align: center;
	color: white;
	padding: 80px;
}

h2 
{
	text-align: center;
	color: magenta;
	padding-top: 100px;
	padding-bottom: 100px;
	
}

.topImage {
	        border: 10px inset rgb(53,54,53, .2);
	        border-radius: 70%;
			width: 40%;
           
}



.topContainer 

{
    padding-left: 15%;
	height: 500px;
	padding-bottom: 150px;
	padding-top: 100px;
    padding-right: 15%;
}


/* text shadow and readibility with this mix of colors is hard but I think i found an inbetween*/
.rightP {float: right;
         text-align: center;
	     width: 40%;	
	     font-size: large;
	     font-weight: 600;
	     color: grey;
	     text-shadow: .5px 0 1px #353635;
        }

.text_column {
	width: 90%;
	text-align: left;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #A3A3A3;
}
.gallery  {
	clear: both;
	display: inline-block;
	width: 100%;
	
	

	padding-bottom: 10%;
	padding-top: 0px;
	margin-top: -5px;
}


.thumbnail {
	width: 30%;
	text-align: center;
	float: left;
	margin-top: 35px;
	padding-bottom: 20px;
	margin-left: 2%;
	margin-right: 1%;
	border-radius: 3px;
	padding-top: 20px;
	
}

.thumbnail2 {
	width: 23%;
	text-align: center;
	float: left;
	margin-top: 35px;
	padding-bottom: 20px;
	margin-left: 1%;
	margin-right: 1%;
	border-radius: 3px;
	padding-top: 20px;
	
}
.thumbnail h4 {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #black;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}
thumbnail p {
	margin: 0;
	color: #B3B3B3;
	text-align: left;
	padding-left: 60px;
}



.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 200px;
	opacity: 0.8;
}



.thumbnail .tag {
	color: #5D5E5D;
	padding-bottom: 4px;
	padding-top: 4px;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}

.divP{
	  padding-top: 40px;
	  position: relative;
      text-align: center;
      color: white;
     }
img {
	  max-height: 500px;
 	
    }
.sfImg{
	  display: block;
    width: 100%; 
	
}

.sfImg2{
	display: none;
}

.centered {
    position: absolute;
    font-size: large;
    font-weight: 600;
    top: 70%;
    width: 9000px
    transform: translate(-50%, -50%);
    background-color: grey;
    left: 6px;
	overflow: hidden;
	max-height: 333px;
    margin-bottom: 10px;
}

@media (max-width: 985px) {
	
.rightP {
          width: 100%;	
	   
}

.topImage	 {
		   display: block;
           width: 80%;
	    
	}
	
	
	
}
/*very small resolution please use developer tools on browser to see effects just opening it will allow a smaller res*/
@media (max-width: 430px){
	
	
.centered{overflow: scroll}
.rightP{max-height: 300px;
	    overflow: scroll;
	    
	}
	
.thumbnail2 {
		float:left;
		width: 80%;
		margin: 0;
	    margin-left: -15px;
	}

	
.firsth2 {
		padding: 0;
	}
	
	
.secondH2 {
		   padding-bottom: 10px;
	      }
/*image swap*/
	.sfImg {
		    display: none;
		   }

	.sfImg2{
		display: block;
		max-width: 100%;
		}

}

#gallery1 {
	      margin: 0;
	      width 80%;
         }

